<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google" content="notranslate" />
	<meta name="robots" content="noindex">
	<title>sample - Error</title>
	<link rel="icon" href="/resources/images/sample.ico">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" type="text/css" href="resources/css/variables.css">
	<link rel="stylesheet" type="text/css" href="resources/css/page_error.css">
</head>
<body>
	<!-- PAGE ERROR -->
	<section class="options">
		<a href="/" class="options__enlace">
			<img class="options__logo" src="/resources/images/sample.png" alt="logo">
		</a>
		<h2 class="options__subtitle">ERROR</h2>
	</section>
	<!-- MAIN ERROR -->
	<main class="main">
		<section class="noneProduct">
			<h2 class="noneProduct__title">HA OCURRIDO UN ERROR INESPERADO</h2>
			<span class="noneProduct__select">
				<a href="/" class="noneProduct__enlace">VOLVER AL INICIO</a>
			</span>
		</section>
	</main>
</body>