<footer class="footer">
    <span class="footer__content">
        <img class="footer__person" src="/resources/images/person.png" alt="">
        <p class="footer__waitres">Federico Fontana</p> 
    </span> 
    <a class="footer__options" href="/admin/products/stock" title="Control Stock">Cerrar Session</a>
</footer>