	<footer class="footer">
		<img class="footer__img" src="./resources/images/hidden.png" alt="">
		<span class="footer__redes">
			<a class="footer__logos" href="">
				<img class="footer__logo" src="./resources/images/redes/instagram.png" alt="">
			</a>
			<a class="footer__logos" href="">
				<img class="footer__logo" src="./resources/images/redes/spotify.png" alt="">
			</a>
			<a class="footer__logos" href="">
				<img class="footer__logo" src="./resources/images/redes/facebook.png" alt="">
			</a>
		</span>
		<span class="footer__powered">
			<p class="footer__text">Powered by:</p>
			<p class="footer__progreso">Progreso Digital</p>
		</span>
	</footer>