	<header class="header">
		<span class="header__content">
			<a class="header__links" href="/#home">Home</a>
			<a class="header__links" href="/#sobre_nosotros">Nosotros</a>
			<a class="header__image" href="/">
				<img class="header__img" src="./resources/images/hidden.png" alt="hidden party">
			</a>
			<a class="header__links" href="/#galeria">Galeria</a>
			<a class="header__links" target="_blank" href="https://dameentrada.com/evento/63739af048899429302da4b9">Ticket</a>
		</span>
	</header>