<header class="header">
    <a class="header__logo" href="/" title="ico">
        <img class="header__image" src="/resources/images/sample.png" alt="ico">
    </a>
    <nav class="header__nav">
        <ul class="header__list">
            <span class="header__content">
                <img class="header__person" src="/resources/images/person.png" alt="">
                <p class="header__waitres">Federico Fontana</p> 
            </span>     
            <li class="header__items">
                <a class="header__options" href="" title="Cerrar Sesion">Cerrar Sesion</a>
            </li>
        </ul>
        <button type="button" class="header__btn">
            <span class="header__line"></span>
            <span class="header__line"></span>
            <span class="header__line"></span>
        </button>
        <span class="header__span-res">
            <ul class="header__list-res">
                <li class="header__items">
                    <a class="header__options-res" href="/waitres/login" title="Cerrar Sesion">Cerrar Sesion</a>
                </li>
            </ul>
        </span>
    </nav>
</header>